
* {
    
    list-style: none;
    text-decoration: none;
    
}



.article {

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 25rem;
    gap: 3rem;
    
}

.card-body{

    display: flex;
    flex-direction:column;
    align-items: center;

}
.row{

   display: flex;
   align-items: center;
   align-content: stretch;
}

.carrito__btn{

    display: flex;
    justify-content: flex-end;
    margin-right: 15rem;
    gap: 3rem;


}
.foot__lista{

  text-decoration: none;

  }  
 
